<div fxLayout="row" fxLayoutAlign="center start">
  <div class="app-card app-card--m-0">
    <form autocomplete="off" [formGroup]="itemForm">
      <div class="app-card__content app-form">

        <!--    Name-->
        <div class="app-form__item mt-5">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" class="app-form__row">


          <!--        Discounted price-->
          <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field>
              <mat-label>Discounted Price</mat-label>
              <input type="number" matInput formControlName="discountedPrice">
            </mat-form-field>
          </div>

          <!--          Price-->
          <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field>
              <mat-label>Price</mat-label>
              <input type="number" matInput formControlName="costPrice">
            </mat-form-field>
          </div>
        </div>


        <div fxLayout="row wrap" class="app-form__row">

          <!--          Category-->
          <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field>
              <mat-label>Category</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--Options-->
          <div  fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field *ngIf="isOptionsRequired">
              <mat-label>Size</mat-label>
              <mat-select #sl formControlName="options" multiple>
                <button style="margin-left: 35%;margin-top: 10px;margin-bottom: 10px" color="accent" (click)="sl.close()" mat-raised-button>Done</button>
                <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
              </mat-select>

            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" class="app-foisInStockRequiredrm__row">

          <!--          In Stock-->
          <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field *ngIf="isInStockRequired">
              <mat-label>In Stock</mat-label>
              <mat-select #sl formControlName="inStock">
                <button style="margin-left: 35%;margin-top: 10px;margin-bottom: 10px"  color="accent" (click)="sl.close()" mat-raised-button>Done</button>
                <mat-option *ngFor="let isInStock of inStock" [value]="isInStock">{{ isInStock }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--      Quantity-->
          <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field *ngIf="isQuantityRequired">
              <mat-label>Quantity</mat-label>
              <input type="number" matInput formControlName="qt">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" class="app-foisInStockRequiredrm__row">
          <!--        Description-->
          <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea rows="5" cols="500" matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>

        <mat-toolbar class="center">
          <button style="margin-right: 10px" mat-raised-button color="accent" (click)="onSubmit()">Add</button>
          <button style="margin-right: 10px" mat-raised-button type="reset" color="accent">Reset</button>
        </mat-toolbar>


      </div>
    </form>
  </div>
</div>
