<div fxFill fxLayout="column">
  <shaft-header>
    <shaft-header-title>
      Campaigns
    </shaft-header-title>
  </shaft-header>
  <div class="pt-2 px-4">
    <ibm-tag type="magenta">All</ibm-tag>
    <ibm-tag type="magenta">Running</ibm-tag>
    <ibm-tag type="magenta">Scheduled</ibm-tag>
    <ibm-tag type="warm-gray">Stopped</ibm-tag>
    <ibm-tag type="warm-gray">Completed</ibm-tag>
  </div>
  <div fxFlex class="relative px-4 pb-4 pt-2">
    <ng-container *ngIf="!loading">
      <ag-grid-angular
        class="app-ag-grid app-border-all"
        [modules]="modules"
        [suppressRowClickSelection]="false"
        [suppressClickEdit]="true"
        [gridOptions]="gridOptions"
        (rowSelected)="onRowClicked($event)">
      </ag-grid-angular>
    </ng-container>
  </div>
</div>
