
<ng-scrollbar>
  <div fxLayout="column" fxLayoutAlign="center">

    <mat-toolbar class="app-card app-card--m-0">
      <div mat-dialog-actions>
        <mat-label style="color: deeppink;font-weight: bold" >Tejas - 128 Users</mat-label>
      </div>
    </mat-toolbar>

    <!--                      <app-charts [(chartData)]=chartDta></app-charts>-->
    <div fxFlex="100%" fxFlex.gt-md="100%">
      <div fxLayout="row wrap" class="mb-2 app-card-row">
        <ng-container *ngFor="let chart of charts">
          <div fxFlex="100%">
            <div class="app-card p-0">
              <shaft-echarts-container>
                <shaft-echarts [options]="chart" class="app-echarts-component"
                               style="height: 400px;"></shaft-echarts>
              </shaft-echarts-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="app-body-short-01 app-card app-card--m-0">
      <mat-label style="color: deeppink" class="app-productive-heading-02 ml-3">Date Range</mat-label>
      <mat-card-subtitle class="app-productive-heading-01 mt-2 ml-4">30-AUG-2020 to 29-SEP-2020
      </mat-card-subtitle>
      <mat-label style="color: deeppink;font-weight: bolder" class="mt-3 ml-3">User's who did</mat-label>
      <mat-card-subtitle *ngFor="let f of filterStrings.whoDid" style="padding: 5px;font-weight: bold" class="ml-4">• {{ f }}</mat-card-subtitle>
      <br>
      <mat-label style="color: deeppink;font-weight: bolder" class="mt-3 ml-3">User's who didn't do</mat-label>
      <mat-card-subtitle *ngFor="let f of filterStrings.didNot"  style="padding: 5px;font-weight: bold" class="ml-4">• {{ f }}</mat-card-subtitle>
      <br>
      <mat-label style="color: deeppink;font-weight: bolder" class="mt-3 ml-3">Common Properties</mat-label>
      <mat-card-subtitle *ngFor="let f of filterStrings.commonProp"  style="padding: 5px;font-weight: bold" class="ml-4">•{{ f }}</mat-card-subtitle>
    </div>
  </div>
</ng-scrollbar>

