<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>



    <title>Coming Soon</title>
    <div class="container">
      <h1>Coming Soon</h1>
      <p>We're working hard to bring you something awesome. Enter your email below to get early updates!</p>
      <form action="#" method="post" class="email-form">
        <input type="email" name="email" id="email" placeholder="Enter your email address" required>
        <button type="submit">Get Updates</button>
      </form>
    </div>


  </ng-scrollbar>
</div>


