<div *ngIf=eventsMetaLoaded class="app-a-box app-scrollbar-fix">
  <!--<div class="app-a-box app-scrollbar-fix">-->
  <shaft-header>
  </shaft-header>
  <ng-scrollbar>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="100%" fxFlex.gt-md="80%" fxFlex.gt-lg="70%" class="app-content app-content--default">

        <div class="mt-10 app-cards-layout-1">
          <div fxLayout="row wrap" fxLayoutGap="1px grid">
            <div fxFlex="100%" fxFlex.gt-md="50%">
              <div fxFlex>
                <div fxFlex class="app-card app-card--m-0 app-welcome-big-tile">
                  <div class="app-card__content">
                    <mat-card>
                      <app-query-builder [(triggerEvent)]=needTriggerEvent [(eventsMeta)]="eventsMeta" (onChange)="getQuery($event)" #query></app-query-builder>
                    </mat-card>
                    <br>
                    <mat-toolbar class="center">
                      <button mat-raised-button class="done-button" style="margin-right: 20px">Cancel</button>
                      <br>
                      <button mat-raised-button class="done-button" style="margin-right: 20px" (click)="query.createFilters();evaluateQuery()">Evaluate</button>
                      <br>
                      <button mat-raised-button class="done-button">Add to board</button>
                    </mat-toolbar>
                  </div>
                </div>
              </div>
            </div>
            <!--            <div fxFlex="100%" fxFlex.gt-md="25%">-->
            <div fxFlex="100%" fxFlex.gt-md="50%">
              <div fxFlex fxLayout="column" fxLayoutGap="1px">
                <div fxFlex>
                  <div fxFlex class="app-card app-card--m-0">
                    <div class="app-card__content">
                      <div class="bottom-0 right-0 left-0 app-card__content">
                        <p style="font-size: 50px;font-weight: normal">{{userCount}}</p>
                        <div class="app-productive-heading-03 mb-4">Users</div>
                        <!--                        <p class="app-body-short-01">Frequently asked questions if you don't find answer</p>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex>
                  <div fxFlex class="app-card app-card--m-0">
                    <div class="app-card__content">
                      <div class="bottom-0 right-0 left-0 app-card__content">
                        <p style="font-size: 50px;font-weight: normal">{{eventCount}}</p>
                        <div class="app-productive-heading-03 mb-4">Events</div>
                        <!--                        <p class="app-body-short-01">Browse documentation for getting answers</p>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="filterStringsLoaded" fxFlex="100%" fxFlex.gt-md="25%">
              <div fxFlex fxLayout="column" fxLayoutGap="1px">

                <div fxLayout="column" fxLayoutAlign="center" class="app-body-short-01 app-card app-card--m-0">
                  <mat-label style="color: deeppink" class="app-productive-heading-02 ml-3">Date Range</mat-label>
                  <mat-card-subtitle class="app-productive-heading-01 mt-3 ml-4">{{from}} to {{to}}
                  </mat-card-subtitle>
                  <mat-label style="color: deeppink;font-weight: bolder" class="mt-1 ml-3">User's who did</mat-label>
                  <mat-card-subtitle *ngFor="let f of filterStrings.whoDid" style="padding: 5px;font-weight: bold" class="ml-4">• {{ f }}</mat-card-subtitle>
                  <br>
                  <mat-label style="color: deeppink;font-weight: bolder" class="mt-3 ml-3">User's who didn't do</mat-label>
                  <mat-card-subtitle *ngFor="let f of filterStrings.didNot"  style="padding: 5px;font-weight: bold" class="ml-4">• {{ f }}</mat-card-subtitle>
                  <br>
                  <mat-label style="color: deeppink;font-weight: bolder" class="mt-3 ml-3">Common Properties</mat-label>
                  <mat-card-subtitle *ngFor="let f of filterStrings.commonProp"  style="padding: 5px;font-weight: bold" class="ml-4">•{{ f }}</mat-card-subtitle>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="mt-7 app-cards-layout-1">
          <div fxLayout="row wrap" fxLayoutGap="1px grid">
            <ng-container *ngFor="let chart of charts">
              <div fxFlex="100%" class="">
                <div class="app-card p-2">
                  <shaft-echarts-container>
                    <shaft-echarts [options]="chart" class="app-echarts-component"
                                   style="height: 400px;"></shaft-echarts>
                  </shaft-echarts-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
