<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>
    <shaft-header>
    </shaft-header>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="100%" fxFlex.gt-md="80%" fxFlex.gt-lg="70%" class="app-content app-content--default">


        <!--        PAGE HEADER -->
        <ng-container *ngFor="let templateInfo of configuredTemplate.templateOptions;let faqIndex=index">
          <div class="mb-6">
            <div class="app-productive-heading-03 mb-2">{{templateInfo.groupName}}</div>
            <div class="app-card app-card--m-0">
              <div class="app-card__content__fill">
                <!--                PAGE CONTENTS -->
                <ibm-accordion>
                  <ng-container *ngFor="let option of templateInfo.children;let childIndex=index">
                    <ibm-accordion-item [title]="option.title">
                      <div *ngIf="option.fields.type === 'list'">
                        <mat-label>{{option.content}}</mat-label>
                      </div>
                      <div *ngIf="option.fields.type === 'radio'">
                        <mat-label>{{option.content}}</mat-label>
                      </div>
                      <div *ngIf="option.fields.type === 'input'">
                        <mat-label>{{option.content}}</mat-label>
                      </div>
                      <div *ngIf="option.fields.type === 'file'">
                        <mat-list *ngFor="let f of option.content">
                          <mat-list-item>{{f.file.name}}</mat-list-item>
                        </mat-list>
                      </div>
                      <div class="mt-2" >
                        <button mat-raised-button class="done-button" (click)="addTemplateComponent(option.fields,faqIndex,childIndex)">Add</button>
                      </div>
                    </ibm-accordion-item>
                  </ng-container>
                </ibm-accordion>
              </div>
            </div>
            <button mat-button style="margin-right: 10px;" mat-raised-button color="accent" (click)="onOptionsSubmit()">Publish</button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-scrollbar>
</div>

