::ng-deep .mat-step-header .mat-step-icon-selected  {
  background-color: indigo;
}

mat-slider {
  width: 250px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 10px;
}

.example-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}

.example-margin {
  margin: 10px;
}

.bell-icon{
  margin-left:250px!important;
  margin-top: 10px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-content{
  --background-repeat: no-repeat;
  --background-size: cover;
}

mat-icon{
  margin-left: 5px;
  transform: scale(1.2);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.addCircle {
  margin-left: 10px;
  color: #ffa500;
  //background-color: black;
  font-weight: bolder;
}

.done-button {
  background: #ffa500;
  color: black;
  font-weight: bolder;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}




