<shaft-sidenav-container panel="panel">
  <shaft-sidenav
    [breakpoint]="'md'"
    [direction]="'bottom'"
    [opened]="true"
    [hoverAble]="true"
    [mode]="'side'"
    initWidth="200"
    [toggleableBtn]="true"
    [size]="'sideBar1'">
    <div fxFill fxLayout="column" class="app-bg-container relative">
      <div class="app-header app-header--sm">
        <div class="app-expressive-heading-02">Bottom</div>
      </div>
    </div>
  </shaft-sidenav>
  <div fxFill fxLayout="column" class="relative">
    <shaft-header>
      <shaft-header-title>
        Main header
      </shaft-header-title>
      <shaft-header-tools>
        <button ibmButton="primary" size="sm" class="mr-1">
          Button
          <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
        </button>
      </shaft-header-tools>
    </shaft-header>
    <div fxFlex class="relative">
      <shaft-sidenav-container panel="panel">
        <shaft-sidenav
          [breakpoint]="'md'"
          [direction]="'right'"
          [opened]="true"
          [hoverAble]="true"
          [mode]="'side'"
          initWidth="200"
          [toggleableBtn]="true"
          [size]="'sideBar1'">
          <div fxFill fxLayout="column" class="app-bg-container relative">
            <div class="app-header app-header--sm">
              <div class="app-expressive-heading-02">Right</div>
            </div>
          </div>
        </shaft-sidenav>
      </shaft-sidenav-container>
    </div>
  </div>
</shaft-sidenav-container>


