<ng-container *ngIf="!routeToConfigureScreen">
  <mat-toolbar class="center">
    <button mat-button style="margin-right: 10px" mat-raised-button color="accent" (click)="afterTemplateSelected()">Configure</button>
    <button mat-button style="margin-right: 10px" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
  </mat-toolbar>

  <div *ngFor="let image of previewImages" style="padding: 20px">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="{{image}}" alt="{{storeName}}">
    </mat-card>
    <br>
  </div>
</ng-container>

<ng-container *ngIf="routeToConfigureScreen">
  <mat-toolbar class="center">
    <button mat-button style="margin-right: 10px" mat-raised-button color="accent" (click)="onConfigure()">Done</button>
    <button mat-button style="margin-right: 10px" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
  </mat-toolbar>
  <br>
  <div class="app-card app-card--m-0">
    <form autocomplete="off" [formGroup]="templateForm">
      <!--    Name-->
      <div class="center">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
    </form>
  </div>
</ng-container>
