<div fxFill fxLayout="column">
  <shaft-header></shaft-header>
  <ng-scrollbar>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="mb-6 mt-6">
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="false"
            [enableSingleSelect]="true"
            [showSelectionColumn]="false"
            [striped]="false"
            [sortable]="true"
            [isDataGrid]="false">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>
    </div>
  </ng-scrollbar>
</div>
