<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>
    <shaft-header>
    </shaft-header>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="100%" fxFlex.gt-md="80%" fxFlex.gt-lg="70%" class="app-content app-content--default">


        <!--        PAGE HEADER -->
        <ng-container *ngFor="let group of faq2;let faqIndex=index">
          <div class="mb-6">



            <div class="app-productive-heading-03 mb-2">{{group.groupName}}</div>
            <button ibmButton="primary" size="sm" class="mr-1 justify-end">
              Publish
            </button>
            <div class="app-card app-card--m-0">
              <div class="app-card__content__fill p-0">


                <!--                PAGE CONTENTS -->
                <ibm-accordion>
                  <ng-container *ngFor="let question of group.children;let childIndex=index">
                    <ibm-accordion-item [title]="question.title">
                      <div *ngIf="question.fields.type === 'list'">
                        <mat-label>{{question.content}}</mat-label>
                      </div>
                      <div *ngIf="question.fields.type === 'radio'">
                        <mat-label>{{question.content}}</mat-label>
                      </div>
                      <div *ngIf="question.fields.type === 'input'">
                        <mat-label>{{question.content}}</mat-label>
                      </div>
                      <div *ngIf="question.fields.type === 'file'">
                        <mat-list *ngFor="let f of question.content">
                          <mat-list-item>{{f.file.name}}</mat-list-item>
                        </mat-list>
                      </div>
                      <div class="mt-2" >
                        <button mat-raised-button class="done-button" (click)="addTemplateComponent(question.fields,faqIndex,childIndex)">Add</button>
                      </div>
                    </ibm-accordion-item>
                  </ng-container>
                </ibm-accordion>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-scrollbar>
</div>

